<div class="row">

  <div class="col-md-3"
  <%= render 'accommodation_menu' %>

  </div>

  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        Listing
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @accommodation do |f| %>

          <div class="row">
            <div class="col-md-4 select">
              <div class="form-group">
                <label> Land type</label>
                <%= f.select :land_type, [["Oceanfront", "Oceanfront"], ["Mountains", "Mountains"], ["Vineyards", "Vineyards"], ["Hiking Getaways", "Hiking Getaways"], ["Farms", "Farms"]],
                              id: "land_type", prompt: "Select...", class: "form-control" %>
              </div>
            </div>

            <div class="col-md-4 select">
              <div class="form-group">
                <label> Accommodation type</label>
                <%= f.select :accommodation_type, [["Huts", "Huts"], ["Villas", "Villas"], ["Cabins", "Cabins"], ["Tents", "Tents"], ["Treehouses", "Treehouses"], ["Pods", "Pods"]],
                id: "accommodation_type", prompt: "Select...", class: "form-control" %>
              </div>
            </div>

            <div class="col-md-4 select">
              <div class="form-group">
                <label> Area </label>
                <%= f.select :area, [["Apartment", "Apartment"], ["House", "House"], ["bnb", "bnb"]],
                              id: "area", prompt: "Select...", class: "form-control" %>
              </div>
            </div>

            <div class="col-md-4 select">
              <div class="form-group">
                <label> Maximum Capacity </label>
                <%= f.select :capacity, [["2 people", "2 people"],["5 people", "5 people"], ["10 people", "10 people"], ["15 people", "15 people"]],
                              id: "capacity", prompt: "Select...", class: "form-control" %>
              </div>
            </div>
          </div>

          <div>
            <%= f.submit "Save", class: "btn btn-normal" %>
          </div>

          <% end %>

        </div>
      </div>

    </div>
  </div>

</div>
