<div class="panel panel-default">
  <div class="panel-heading">
    Create your beautiful place
  </div>
  <div class="panel-body">
    <div class="container">

      <%= form_for @accommodation do |f| %>

        <div class="row">

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Land Type</label>
              <%= f.select :land_type, [["Oceanfront", "Oceanfront"], ["Mountains", "Mountains"], ["Bed & Breakfast", "Bed & Breakfast"]],
                            id: "land_type", prompt: "Select...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Accommodation Type</label>
              <%= f.select :accommodation_type, [["Huts", "Huts"], ["Villas", "Villas"], ["Cabins", "Cabins"]],
                            id: "accommodation_type", prompt: "Select...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Area</label>
              <%= f.select :area, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]],
                            id: "area", prompt: "Select...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Capacity</label>
              <%= f.select :capacity, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]],
                            id: "capacity", prompt: "Select...", class: "form-control" %>
            </div>
          </div>

        </div>

        <div><%= f.submit "Create My Place", class: "btn btn-normal" %></div>

      <% end %>

    </div>
  </div>
</div>
