<div class="panel panel-default">
  <div class="panel-heading">
    Create your beautiful place
  </div>
  <div class="panel-body">
    <div class="container">

      <%= form_for @accommodation do |f| %>

        <div class="row">

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Land Type</label>
                <%= f.select :land_type, [["Oceanfront", "Oceanfront"], ["Mountains", "Mountains"], ["Vineyards", "Vineyards"], ["Hiking Getaways", "Hiking Getaways"], ["Farms", "Farms"]],
                              id: "land_type", prompt: "Select...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Accommodation Type</label>
              <%= f.select :accommodation_type, [["Huts", "Huts"], ["Villas", "Villas"], ["Cabins", "Cabins"], ["Tents", "Tents"], ["Treehouses", "Treehouses"], ["Pods", "Pods"]],
                            id: "accommodation_type", prompt: "Select...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Area</label>
              <%= f.select :area, [["Chocolate Factory", "Chocolate Factory"], ["Wine Tasting", "Wine Tasting"], ["Bush Walking", "Bushwalking"]],
                            id: "area", prompt: "Select...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Maximum Capacity</label>
              <%= f.select :capacity, [["2 people", "2 people"],["5 people", "5 people"], ["10 people", "10 people"], ["15 people", "15 people"]],
              id: "capacity", prompt: "Select...", class: "form-control" %>
            </div>
          </div>

        </div>

        <div><%= f.submit "Create My Place", class: "btn btn-normal" %></div>

      <% end %>

    </div>
  </div>
</div>
